/* All Pages */

body{
  background-color: #FFFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
thead{
  background-color: #4f81bd;
  color: #ffff;
}

/*navbar styles*/
.navbar{
  background-color: #4f81bd;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1% 12% 1% 1%;
}
/*page header styles*/
.caseHeader{
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
}
.caseSub{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}
.court-image{
  float: left;
  padding: 0 3%;
}
#logo-header{
padding: 2% 0;
}




/* index page */
.homeContainer{
  line-height: 2;
  margin: auto;
  padding: 2% 26% 0;
  text-align: center;
}
.homeTitle{
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 0.5%;
}
.homeBody{
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 600;
  padding-top: 2%;
}
.homeList{
  line-height: 2;
  padding: 1%;
  text-align: justify;
}
.listItem{
  padding-bottom: 1.5%;
}
.optionTag{
  font-style: italic;
  padding-top: 0.5%;
  text-align: center;
}
/*options table styles*/
.optionsContainer{
  margin: auto;
  padding: 1% 26%;
}
.options{
  font-size: 1rem;
  margin: 40% auto auto;
  text-align: left;
  padding-right: 5px;
}

.options-body{
    text-align: justify;
    padding: 1%;
}

/*footer styles*/
.homeFooter{
  margin: auto;
  padding: 3% 0;
  text-align: center;
}






/*Product Page*/
.productContainer{
  line-height: 2;
  margin: auto;
  padding: 2% 26%;
  text-align: left;
}
.productBody{
  font-size: 1.2rem;
  padding-top: 2%;
  text-align: justify;
}
.productTitle{
  font-size: 2.5rem;
  font-weight: 500;
}
.productList{
  padding-bottom: 0;
}

.imageContainer{
  padding: 0 5% 5%;
  width: 80%;
  margin: auto;
}
.productImg{
  width: 100%;
  height: auto;
  padding: 5% 0;
}



/*Documents Page*/

.docContainer{
  line-height: 2;
  margin: auto;
  padding: 2% 26%;
  text-align: left;
}
.docBody{
  font-size: 1.2rem;
  padding-top: 1%;

}
.docTable{
    padding: 2% 26%;
}
.docTitle{
  font-size: 2.5rem;
  font-weight: 500;

}
.tableHeadings{
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
  padding: 3% 0;
  text-align: left;
}
.keyDocumentsTable{
  margin: auto;
  text-align: left;
}

.addDocumentsTable{
  margin: auto;
  text-align: left;
}
.docDescript{
  padding-left: 3%;
}
.appealDocs{
  text-align: center;
}
#addTable{
  padding-bottom:  5%;
}


/*Opt-Out Page*/
.optContainer{
  line-height: 2;
  margin: auto;
  padding: 2% 26%;
  text-align: left;
}
.optTitle{
  font-size: 2.3rem;
  font-weight: 500;
}
.optbody{
  font-size: 1.2rem;
  padding-top: 2%;
  text-align: justify;
}
/*opt-out form styling*/
.formContainer{
  margin: auto;
  padding: 2% 26% 5%;;
}
.optOutForm{
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 2;
  text-align: justify;
}
.optOutLabel{
  padding-bottom: 2%;
}
.submit-button{
  background-color: #4f81bd;
  color: #fff;
}
.submit-button:hover{
background-color: #4f81bd;
color: #000;
}



/*FAQs Page*/
.faqsContainer{
  line-height: 2;
  margin: auto;
  padding: 2% 26%;
  text-align: left;
}
.faqsTitle{
  font-size: 2.5rem;
  font-weight: 500;
}
.faqTable{
    text-align: justify;
    padding: 2% 26% 5%;
}




/*Contact Page*/
.contactContainer{
  line-height: 2;
  margin: auto;
  padding: 2% 26%;
  text-align: left;
}
.contactTitle{
  font-size: 2.5rem;
  font-weight: 500;
}
.contactBody{
  font-size: 1.2rem;
  padding-top: 3%;
}

.contactTable{
    margin: auto;
    padding: 0 26% 1%;

}
.info{
  padding: 15px 0 0 100px;
  text-align: justify;
}
 .contactBottom{
   margin: auto;
   padding: 2% 26% 5%;;
 }
 .bottomBody{
   text-align: justify;
 }


/*Media Styles*/


@media (max-width: 720px){
  /*product mobile settings*/
  .productContainer{
    padding: 2% 10%;
  }
  /*document mobile settings*/
  .docContainer{
    padding: 2% 10%;
  }
  .docTable{
      padding: 2% 10%;
  }
  /*opt out mobile settings*/
  .optContainer{
    padding: 2% 10%;
  }
  .formContainer{
    padding: 2% 10% 5%;;
  }
  /*contact mobile settings*/
  .contactContainer{
    padding: 2% 10%;
  }
  .contactTable{
      padding: 0 16% 2%;

  }
  .info{
    padding: 15px 0 0 100px;
    text-align: justify;
  }
   .contactBottom{
     margin: auto;
     padding: 2% 10% 5%;;
   }
}

@media(max-width:765px) {

  .caseHeader{
    font-size: 1.3rem;
    padding-top: 5%;
  }
  .caseSub{
    font-size: 1rem;
  }
  .contact-head{
    text-align: justify;
    padding: 1% 5%;
  }
  .contact-bottom{
    padding: 3% 5%;
    text-align: justify;
  }
  .faqsContainer{
    padding: 2% 10%;
  }
  .faqTable{
      text-align: justify;
      padding: 2% 10% 5%;
  }
  .homeContainer{
    padding: 2% 10% 0;
  }
  .optionsContainer{
    padding: 2% 10%;
  }
  .homeFooter{
    padding: 2% 10% 5%;
  }
}

@media (max-width: 996px){

  .opt-heading{
    padding: 5% 12% 1% 18%;
    text-align: justify;
  }

  .optOutForm{
    margin-right: 0;
    padding: 2% 12% 10% 18%;
    text-align: justify;

  }
  .faqsContainer{
    padding: 2% 20%;
  }
  .faqTable{
      text-align: justify;
      padding: 2% 20% 5%;


  }
}


@media(min-width: 1200px){
  .imageContainer{

    width: 60%;
    margin: auto;
  }
}
